body {
  font-family: 'Open Sans', sans-serif;
}

.contact__title {
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.contact {
  padding: 110px 0px;
}

.contact__part {
  text-align: center;
}

.contact__message {
  margin: 0px 0px 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  color: #ff4800;
  font-weight: 600;
}

.contact__description {
  font-size: 15px;
  width: 520px;
  text-align: center;
  padding: auto;
  margin: auto;
  margin-bottom: 40px;
}

.contact__inputpart {
  margin-bottom: 50px;
}

.input__block {
  width: 710px;
}

.input__all {
  width: 341px;
  height: 50px;
  margin: 7px 7px;
  padding: 13px;
  box-shadow: 0 5px 28.5px 1.5px rgb(149 152 200 / 20%);
  border: none;
  opacity: 0.7;
  font-family: Dosis,sans-serif;
  font-size: 16px;
  outline: none;
}

.input__message {
  max-width: 695px;
  min-width: 695px;
  min-height: 40px;
  height: 126px;
  margin: 7px 7px;
  padding: 14px;
  font-family: Dosis,sans-serif;
  font-size: 16px;
  box-shadow: 0 5px 28.5px 1.5px rgb(149 152 200 / 20%);
  border: none;
  opacity: 0.7;
  outline: none;
}

.input__submit {
    padding: 15px 30px 15px;
    font-size: 17px;
    margin-top: 10px;
    box-shadow: 0 5px 28.5px 1.5px rgb(149 152 200 / 50%);
    border-radius: 90px;
    background-color: #ff4800;
    color: #fff;
    border: none;
    margin-left: 265px;
    transition: all 0.8s ease;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
  }

.input__submit:hover {
  background-color: #28a745;
  transition: all 0.8s ease;
  box-shadow: none;
}

.adress__title {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

.adress__number {
  color: #ff4800;
  display: inline-block;
  text-decoration: none;
  transition: all 0.6s ease;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.adress__number:hover{
  color: #28a745;
}

.adress__extantion {
  color: #57647c;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Dosis',sans-serif;
}

.adress__email {
  color: #4ac728;
  font-size: 40px;
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.6s ease;
  font-family: Dosis,sans-serif;
  font-weight: bold;
}

.adress__email:hover{
  color: #ff4800;
  transition: all 0.6s ease; 
}

.adress__item {
  list-style-type: none;
  margin-left: 8px; 
}

.size__icon {
  font-size: 18px;
  text-align: center;
  color: #aba5a5;
  transition: all 0.6s ease; 
}

.adress__item:hover .adress__link {
  background-color:#ff4800;
  transition: all 0.6s ease; 
}

.adress__item:hover .size__icon {
  color: #fff;
  transition: all 0.6s ease; 
}

.adress__link {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #dadada;
  border-radius: 50%;
  color: #aba5a5;
  transition: all 0.6s ease; 
}

